
body {
  background-color: #fff;
  font-family: Helvetica, Arial;
  font-size: 13px;
  margin: 0px;
  overflow-y: scroll;
}
a {
  color: #028cc4;
  text-decoration: none;
}
a.alt img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
a.alt:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
a:hover {
  text-decoration: underline;
}
a.prominent {
  font-size: 14px;
}
a.strong {
  color: #e45b00;
  font-weight: bold;
}
div.strong {
  color: #e45b00;
  font-size: 12px;
  font-weight: bold;
}
input {
  font: 8pt Verdana, Arial, Helvetica, sans-serif;
}
img {
  border: 0px;
}
hr {
  background-color: #bacfe6 !important;
  border: none;
  color: #bacfe6 !important;
  height: 1px;
}
.universalBannerWarning {
  background-color: #fcd672;
  border-bottom: 2px solid #e5581b;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 24px 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 101;
}
.universalBannerWarning .text {
  padding-bottom: 12px;
}
.universalBannerWarning .main {
  font-size: 20px;
}
.universalBannerWarning .red {
  color: #e5581b;
}
.universalBannerWarningSpacing {
  height: 196px;
}
.universalModelWarning {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}
.universalModelWarning .modal-dialog {
  max-width: 582px;
}
.universalModelWarning .modal-header {
  background-color: #fcd672;
  border-bottom: none;
  font-size: 20px;
}
.universalModelWarning .modal-title {
  padding-left: 34px;
}
.universalModelWarning .modal-body {
  padding: 32px 24px;
}
.universalModelWarning .text {
  padding-bottom: 16px;
}
.universalModelWarning .red {
  color: #e5581b;
}
.universalModelWarning .modal-footer {
  color: #005fcc;
  background-color: #f2f2f2;
  border-top-color: #cacaca;
}
.universalModelWarning .modal-footer a {
  text-decoration: none;
}
.universalModelWarning .bi-chevron-right::before {
  font-weight: bold !important;
}
.topBand {
  color: #fff;
  font: normal normal 11px Helvetica, Arial;
  height: 28px;
  line-height: 28px;
  text-align: right;
}
.topBand a {
  color: #fff;
}
.topBandLoggedIn {
  background: url(../images/def20/topband_blue.png) repeat-x top;
  min-width: 1026px;
}
.topBandLoggedOut {
  background: url(../images/def20/topband_blue.png) repeat-x top;
  min-width: 1026px;
}
.breadCrumb {
  font: normal normal 11px Helvetica, Arial;
  height: 28px;
}
.breadCrumb_home {
  float: left;
  padding: 6px 0px;
}
.breadCrumb_sep {
  float: left;
  padding: 6px;
}
.breadcrumb_link {
  float: left;
  line-height: 28px;
}
.breadcrumb_link a {
  color: #b2c8e2;
}
.breadcrumb_link a:hover {
  color: #028cc4;
}
.breadcrumb_noLink {
  color: #b2c8e2;
  float: left;
  line-height: 28px;
}
.quickSearchDropdown {
  background: #fff;
  font: bold 12px Helvetica, Arial;
}
.quickSearchDropdown img.current {
  cursor: hand;
  display: block;
}
.quickSearchDropdown ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}
.quickSearchDropdown .quickSearchDropdownPanel {
  border: 1px solid #a1c0dc;
  border-bottom-width: 2px;
  margin-top: -1px;
  width: 204px;
}
.quickSearchDropdown .searchIn {
  color: #333;
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px 0px 0px 20px;
  text-transform: uppercase;
}
.quickSearchDropdown ul li {
  display: inline;
  float: left;
  position: relative;
  z-index: 1;
}
.quickSearchDropdown ul li a {
  display: block;
  text-decoration: none;
  width: 194px;
}
* html .quickSearchDropdown ul li a {
  display: inline-block;
}
.quickSearchDropdown ul li a:hover {
  background-color: #f7f7f7;
  text-decoration: none;
}
.quickSearchDropdown ul li ul {
  left: 0px;
  position: absolute;
  visibility: hidden;
}
.quickSearchDropdown ul li ul li {
  background-color: #fff;
  line-height: 25px;
  padding-left: 5px;
  text-align: left;
  width: 199px;
}
.quickSearchDropdown ul li ul li a div {
  background-position: left center;
  background-repeat: no-repeat;
  float: left;
  height: 20px;
  margin: 4px 6px 0px 6px;
  padding: 0px;
  width: 27px;
}
.quickSearchDropdown ul li ul li a.active {
  background: url(../images/def20/quicksearch/dropDown_tick.png) no-repeat 0%
    50%;
  color: #333;
}
.quickSearchDropdown ul li ul li a.active:hover {
  background-color: #f7f7f7;
}
* html .quickSearchDropdown {
  height: 1%;
}
.quickSearchInput div {
  border: 1px solid #c2d0b8;
  height: 23px;
  z-index: 100;
}
.quickSearchInput input {
  background-color: #f1f4ed;
  border: 0px;
  color: #bbb;
  height: 13px;
  padding: 5px 5px;
}
.quickSearchInput input:focus {
  background-color: #fff;
}
.quickSearchDropdown ul li ul li a div {
  margin-left: 15px;
}
.quickSearchDropdown ul li ul li a#search_foods div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -2px;
}
.quickSearchDropdown ul li ul li a#search_recipes div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -25px;
}
.quickSearchDropdown ul li ul li a#search_meals div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -47px;
}
.quickSearchDropdown ul li ul li a#search_challenges div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -69px;
}
.quickSearchDropdown ul li ul li a#search_exercises div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -89px;
}
.quickSearchDropdown ul li ul li a#search_members div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -114px;
}
.quickSearchDropdown ul li ul li a#search_journals div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -135px;
}
.quickSearchDropdown ul li ul li a#search_groups div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -158px;
}
.quickSearchDropdown ul li ul li a#search_forums div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -179px;
}
.quickSearchDropdown ul li ul li a#search_diets div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -200px;
}
.quickSearchDropdown ul li ul li a#search_tips div {
  background: url(../images/def20/quicksearch/Quicksearch.png) no-repeat 0px -223px;
}
.navigationDropdown {
  font: normal 700 11px Helvetica, Arial;
}
.navigationDropdown ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.navigationDropdown ul li {
  display: inline;
  float: left;
  height: 28px;
  position: relative;
  width: 164px;
}
.navigationDropdown ul li a {
  color: #93a9c3;
  display: block;
  line-height: 28px;
  text-decoration: none;
  width: 163px;
}

 