#navbar{
    height:150px;
    width:100%;
    border:2px solid red;
    
    }
    #home{
        height:30px;
        width:60%;
        margin:auto;
        border:2px solid blue;
    }
    #home>a img{
        height:100%;
        width:5%;
    }
    #home> img a:hover{
        color:blue;
    }
    #arrow{
        height:90%;
    }
    #descriptionMostOuter{
        height:4000px;
        width:60%;
        margin:auto;
        border:2px solid rgb(0, 221, 255);

    }
   #descriptionMostOuter>#divide{
        height:4000px;
        width:100%;
        margin:auto;
        border:2px solid black;
        display: flex;
    }
    #divide>#firstOuter{
        height:100%;
        width:65%;
        border:2px solid blue;
    }
    #divide>#secondOuter{
        height:100%;
        width:35%;
        border:2px solid orange;
    }
    #divide>#firstOuter>#calender{
        height:75px;
        width:100%;
        border:2px solid green;
    }
    #divide>#firstOuter>#recent{
        height:75px;
        width:100%;
        border:2px solid blue;
    }
    #divide>#firstOuter>#display{
        height:96%;
        width:100%;
        border:2px solid red;
    }
    #secondOuter>#secondBorder{
      height:700px;
      width:100%;
      border:2px solid green;
    }
    #secondOuter>#secondBorder>#food{
        height:400px;
        width:100%;
        border:2px solid blue;
    }
    #secondOuter>#secondBorder>#msgs{
        height:275px;
        width:100%;
        border:2px solid red;
        margin-top: 20px;
    }
    #calender{
        display: flex;
    }
    #calender>#calOne,#calSix{
        width:60px;
        border:2px solid green;
    }
    #calender>#calTwo,#calThree,#calFour,#calFive{
        width:120px;
        border:2px solid green;
    }
    #recent{
        display: flex;
    }
    #recent>#activity{
        height:100%;
        width:65%;
        border:2px solid black;
        
    }
    #recent>#featured{
        height:100%;
        width:35%;
        border:2px solid black;
        text-align:left;
    }
    #food>#foodOne{
       height:40px;
       border:2px solid rgb(0, 255, 42);
    }
    #food>#foodTwo{
       height:110px;
       border:2px solid rgb(0, 255, 42);
    }
    #food>#foodThree{
       height:90px;
       border:2px solid rgb(0, 255, 42);
    }
    #food>#foodFour{
       height:150px;
       border:2px solid rgb(0, 255, 42);
    }
    #foodOne{
        background-color: green;
        width:90%;
        margin:auto;
    }
    #foodOne>#fOnebackground{
        width:95%;
        height:100%;
        margin:auto;
        color:white;
       
        
    }
    #fOnebackground{
        display:flex;
        width:30px;
    }
    #fOnebackground>#fImg{
    height:100%;
    width:20%;
    border:2px solid black;
    }
    #fImg>img{
        width:90%;
        height:80%;
    }
    #fOnebackground>#fText{
        height:100%;
        width:80%;
        border:2px solid white;
        color:white
     }

    
    #diet,#journal,#community,#notione{
        text-indent: 2ch;
        margin-top: 5px;
    }

    #mycal,#nasta,#excercise,#history,#mj,#grp,#challenges,#forum,#following,#cookBook{
        display: flex;
    }
    #notiOne,#notiTwo,#notiThree,#mybio,#mySignature,#myImage,#myprofile,#member{
        display: flex;
    }

  #mycal>#calImg {
    width:20%;
    height:20px;
    border:2px solid blue;
    margin-left: 2ch;
  }
  #mycal>#calText{
    width:30%;
    height:20px;
    border:2px solid blue;
    
  }
  
  #nasta>#nastaImg{
    width:20%;
    height:20px;
    border:2px solid green;
    margin-left: 2ch;
  }
  #nasta>#nastaText{
    width:30%;
    height:20px;
    border:2px solid green;
  }
  #excercise>#exImg{
    width:20%;
    height:20px;
    border:2px solid red;
    margin-left: 2ch;

  }
  #excercise>#exText{
    width:30%;
    height:20px;
    border:2px solid red;
  }
  #history>#hisImg{
    width:20%;
    height:20px;
    border:2px solid red;
    margin-left: 2ch;
  }
  #history>#hisText{
    width:45%;
    height:20px;
    border:2px solid red;
  }
  #mj>#mjImg{
    width:20%;
    height:20px;
    border:2px solid blue;
    margin-left: 2ch;
  }
  #mj>#mjText{
    width:30%;
    height:20px;
    border:2px solid blue;
  }
 #grp>#grpImg{
    width:20%;
    height:20px;
    border:2px solid blue;
    margin-left: 2ch;
 }
 #grp>#grpText{
    width:30%;
    height:20px;
    border:2px solid blue;
 }
 #challenges>#challengeImg{
    width:20%;
    height:20px;
    border:2px solid red;
    margin-left: 2ch;
 }
 #challenges>#challengeText{
    width:35%;
    height:20px;
    border:2px solid red;
 }
#forum>#forumImg{
    width:20%;
    height:20px;
    border:2px solid green;
    margin-left: 2ch;
}
#forum>#forumText{
    width:37%;
    height:20px;
    border:2px solid green;
}
#following>#followImg{
    width:20%;
    height:20px;
    border:2px solid blue;
    margin-left: 2ch;
}
#following>#followText{
    width:30%;
    height:20px;
    border:2px solid blue;
}
#cookBook>#cookBookImg{
    width:20%;
    height:20px;
    border:2px solid black;
    margin-left: 2ch;
}
#cookBook>#cookBookText{
    width:35%;
    height:20px;
    border:2px solid black;
}
#msgs>#myMsg{
 height:20px;
 border:2px solid red;
 margin-left: 2ch;
}
#msgs>#notification{
    height:80px;
    border:2px solid green;

}
#msgs>#toolbox{
    height:120px;
    border:2px solid blue;
}
#msgs>#member{
    height:40px;
    border:2px solid black;
}

#notiOne>#notiImg{
    width:20%;
    height:20px;
    border:2px solid black;
    margin-left: 2ch;
}
#notiOne>#notiText{
    width:40%;
    height:20px;
    border:2px solid black;
}
#notiTwo>#inboxImg{
    width:20%;
    height:20px;
    border:2px solid black;
    margin-left: 2ch;
}
#notiTwo>#inboxText{
    width:30%;
    height:20px;
    border:2px solid blue;
}
#notiThree>#outboxImg{
    width:20%;
    height:20px;
    border:2px solid green;
    margin-left: 2ch;
}
#notiThree>#outboxText{
    width:30%;
    height:20px;
    border:2px solid green;
}
#toolbox>#myTool{
 height:20px;
 border:2px solid red;
 margin-left: 2ch;
}
#mybio>#mybioImg{
    width:20%;
    height:20px;
    border:2px solid green;
    margin-left: 2ch;
}
#mybio>#mybioText{
    width:30%;
    height:20px;
    border:2px solid green;
}
#mySignature>#signImg{
    width:20%;
    height:20px;
    border:2px solid blue;
    margin-left: 2ch;
}
#mySignature>#signText{
    width:30%;
    height:20px;
    border:2px solid blue;
}
#myImage>#myImg{
    width:20%;
    height:20px;
    border:2px solid red;
    margin-left: 2ch;
}
#myImage>#myText{
    width:30%;
    height:20px;
    border:2px solid red;
}
#myprofile>#profileImg{
    width:20%;
    height:20px;
    border:2px solid black;
    margin-left: 2ch;
}
#myprofile>#profileText{
    width:30%;
    height:20px;
    border:2px solid black;
}
#member>#memberImg{
    width:20%;
    height:20px;
    border:2px solid black;
    margin-left: 2ch;
    margin-top: 7px;
}
#member>#memberText{
    width:60%;
    height:20px;
    border:2px solid black;
    margin-top: 7px;
}
#calImg>img {
    height:120%;
    width:100%;
}
#nastaImg>img{
    height:130%;
    width:100%;
}
#exImg>img{
    height:95%;
    width:90%;
}
#hisImg>img{
    height:98%;
    width:90%;
}
#mjImg>img{
    height:99%;
    width:90%;
}
#grpImg>img{
    height:99%;
    width:90%;
}
#challengeImg>img{
    height:99%;
    width:90%;
}
#forumImg>img{
    height:99%;
    width:90%;
}
#cookBookImg>img{
    height:99%;
    width:90%;
}
#followImg>img{
    height:97%;
    width:90%;
}
#notiImg>img{
    height:100%;
    width:90%;
}
#inboxImg>img{
    height:92%;
    width:90%;
}
#outboxImg>img{
    height:92%;
    width:90%;
}
#mybioImg>img{
    height:92%;
    width:90%;
}
#signImg>img{
    height:130%;
    width:90%;
}
#myImg>img{
    height:90%;
    width:90%;
}
#profileImg>img{
    height:85%;
    width:90%;
}
#memberImg>img{
    height:105%;
    width:90%;
}
#calText a{
    text-decoration: none;
}
#calText a:hover{
    background-color: rgb(172, 165, 165);
}
#exText  a{
    text-decoration: none;
}
#exText a:hover{
    background-color: rgb(172, 165, 165);
}

#nastaText a{
    text-decoration: none;
}
#nastaText a:hover{
    background-color: rgb(172, 165, 165);
}

#hisText a{
    text-decoration: none;
}
#hisText a:hover{
    background-color: rgb(172, 165, 165);
}
#mjText a{
    text-decoration: none;
}
#mjText a:hover{
    background-color: rgb(172, 165, 165);
}

#grpText a{
    text-decoration: none;
}
#grpText a:hover{
    background-color: rgb(172, 165, 165);
}

#challengeText a{
    text-decoration: none;
}
#challengeText a:hover{
    background-color: rgb(172, 165, 165);
}
#forumText a{
    text-decoration: none;
}
#forumText a:hover{
    background-color: rgb(172, 165, 165);
}
#followText a{
    text-decoration: none;
}
#followText a:hover{
    background-color: rgb(172, 165, 165);
}
#cookBookText a{
    text-decoration: none;
}
#cookBookText a:hover{
    background-color: rgb(172, 165, 165);
}
#notiText a{
    text-decoration: none;
}
#notiText a:hover{
    background-color: rgb(172, 165, 165);
}
#inboxText a{
    text-decoration: none;
}
#inboxText a:hover{
    background-color: rgb(172, 165, 165);
}
#outboxText a{
    text-decoration: none;
}
#outboxText a:hover{
    background-color: rgb(172, 165, 165);
}
#mybioText a{
    text-decoration: none;
}
#mybioText a:hover{
    background-color: rgb(172, 165, 165);
}
#signText a{
    text-decoration: none;
}
#signText a:hover{
    background-color: rgb(172, 165, 165);
}

#myText a{
    text-decoration: none;
}
#myText a:hover{
    background-color: rgb(172, 165, 165);
}
#profileText a{
    text-decoration: none;
}
#profileText  a:hover{
    background-color: rgb(172, 165, 165);
}

#memberText a{
    text-decoration: none;
}
#memberText a:hover{
    background-color: rgb(172, 165, 165);
}

#calTwo,#calThree,#calFour,#calFive{
    display: flex;
}
#calTwo>#calanImg{
    height:100%;
    width:50%;
    border:2px solid blue;
}
#calTwo>#calanText{
    height:100%;
    width:50%;
    border:2px solid blue;
}
#calThree>#RdiImg{
    height:100%;
    width:50%;
    border:2px solid black;
}
#calThree>#RdiText{
    height:100%;
    width:50%;
    border:2px solid black;
}
#calFour>#netImg{
    height:100%;
    width:50%;
    border:2px solid red;
}
#calFour>#netText{
    height:100%;
    width:50%;
    border:2px solid red;
}
#calFive>#kgImg{
    height:100%;
    width:50%;
    border:2px solid green;
}
#calFive>#kgText{
    height:100%;
    width:50%;
    border:2px solid green;
}
#calOne>img{
    width:80%;
    padding: 5px;
    padding-top: 15px;
}
#RdiImg>img{
    height:60%;
    width:80%;
    padding: 5px;
    padding-top: 15px;
}
#netImg>img{
    height:60%;
    width:90%;
    padding: 5px;
    padding-top: 15px;
}
#kgImg>img{
    height:60%;
    width:90%;
    padding: 5px;
    padding-top: 15px;
}
#calSix>img{
    width:90%;
    height:60%;
    padding: -10px;
    padding-top: 18px;
}
#RdiText a{
    text-decoration: none;
    color:brown;
}
#netText a{
    text-decoration: none;
    color:green;
}
#kgText a{
    text-decoration: none;
    color:black;
}

#fee{
    height:20px;
    width:30%;
}
#featured{
    padding:2ch;
}
